<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.manager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar">
        <activity
            android:name=".AccountActivity"
            android:exported="false" />
        <activity
            android:name=".HistoryActivity2"
            android:exported="false" />
        <activity
            android:name=".TransactionByDateActivity"
            android:exported="false" />
        <activity
            android:name=".anayltics.MonthlyAnalyticsActivity"
            android:exported="false" />
        <activity
            android:name=".anayltics.WeeklyAnalyticsActivity"
            android:exported="false" />
        <activity
            android:name=".anayltics.DailyAnalyticsActivity"
            android:exported="false" />
        <activity
            android:name=".news.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".anayltics.ChooseAnalyticsActivity"
            android:exported="false" />
        <activity
            android:name=".WeekSpendingActivity"
            android:exported="false" />
        <activity
            android:name=".TodaySpendingActivity"
            android:exported="false" />
        <activity
            android:name=".BudgetActivity"
            android:exported="false"
            android:label="@string/title_activity_budget"
            android:theme="@style/Theme.Manager.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".PhoneSignIn"
            android:exported="false" />
        <activity
            android:name=".SignIn"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>